singularity {
	enabled = true
	autoMounts = true
}


params {

	// Use CURIUM dataset
	curium = false

	// Synthetic data
	synthetic_data = false	
	synthetic_samples = 100


	// Input files parameters
	epigenomics_values = null
	epigenomics_meta = null
	mtblmcs_values = null
	mtblmcs_variables = null
	mtblmcs_sample_meta = null
	mtblmcs_dictionary =  null
	ids = null
	phenotypes_set2 = null
	phenotypes_set3 = null
	T_scores = null

	input = null
	output = null
	container_dir = null
	

	
}


/*
Define the Singularity container file paths relative to the given conatiner_dir parameter
*/
r_base = "file:///" + "${params.container_dir}" + "r-base_4.1.2.sif"
r_base_analysis = "file:///" + "${params.container_dir}" + "r-base-analysis.sif"
phenotypes_preprocessing = "file:///" + "${params.container_dir}" + "r-base-phenotypes.sif"


process {

  // Assign containers to single processes 
	withName:METABOLOMICS_SAMPLE_QC_FILTER {
		container = "$phenotypes_preprocessing"
	}
	withName:PHENOTYPECOVARIATES_REWRITE {
		container = "$phenotypes_preprocessing"
	}
	
	
	// Assign containers to multiple processes sharing a label
	withLabel: r_base_small_tasks {
	  container = "$r_base"
	}
	withLabel: r_base_analysis_small_tasks {
	  container = "$r_base_analysis"
	}
	
	
	/* 
	Max resources of the computational environment should be specified here:
	*/
	withLabel: full_resources {
		cpus = 4
		memory = 15.GB
	}
}
